@import './colors';

@mixin quote-mark {
  color: $asbestos;
  font-size: 200%;
  position: absolute;
}

@mixin quote {
  .quote {
    border-left: 2px solid $primary-color;
    margin: 0 10px 1em;
    padding: 0.5em 10px;

    .quote-text-wrapper {
      quotes: "\201C" "\201D" "\2018" "\2019";

      &:before {
        @include quote-mark;
        content: open-quote;
      }
      &:after {
        @include quote-mark;
        margin-left: 10px;
        content: close-quote;
      }
    }

    .quote-text {
      // Push it out past the position:absolute quote
      margin-left: 20px;
    }
  }
}