/** Variables overrides for react-md@1 */

@import "./colors";

$md-primary-color: $primary-color;
$md-secondary-color: $secondary-color;
$md-text-field-error-color: $error-color;
$md-font-family: "Lato", sans-serif;
$md-theme-light: false;

$md-toolbar-prominent-height: 105px;
// The docs say that $md-toolbar-prominent-height overrides these.  But in my experience it does not.
$md-toolbar-desktop-prominent-height: $md-toolbar-prominent-height;
$md-toolbar-tablet-prominent-height: $md-toolbar-prominent-height;
$md-toolbar-mobile-prominent-height: $md-toolbar-prominent-height;

// react-md requires us to define these using material design colors when md-primary-color is a non-material design color
$md-data-table-contextual-fallback-color: $md-blue-grey-900;
// These are when md-secondary-color is non material design
$md-linear-progress-fallback-color: $md-deep-orange-a-700;
$md-switch-ball-fallback-color: $md-deep-orange-a-700;

$md-avatar-default-background: rgba(0, 0, 0, 0);
$md-avatar-default-color: $icon-color;
$md-chip-icon-default-color: $icon-color;
