@import './reset';
@import './util';
@import './colors';
@import './react-md-custom';
@import './grid';

@include apply-react-md-grid;

html, html p {
  font-size: 15px;
}
html, a {
  color: $primary-text-color;
}
p a {
  color: $link-color;
}

.error-message,
.error-message li {
  color: $md-text-field-error-color;
}

b {
  font-weight: 400;
}

#webpack-hot-middleware-clientOverlay * {
  color: $clouds;
}

#app-nav-drawer {
  width: min(400px, $md-drawer-desktop-width)

  // TODO make this more like the left-nav rules
  // The left nav drawer's rules are:
  // On mobile devices, the width of the drawer will be calc(100vw - 56px) and a max width of 320px.
  // On tablets and desktop screens, the width will be equal to the $md-drawer-tablet-width and $md-drawer-desktop-width but no more than 400px.

}

// This should be in react-md's _tooltips.scss, but it isn't loaded for some reason
.inline-rel-container {
  display: inline-block;
  margin: 1em;
  position: relative;
}

// Tabs that appear to be contiguous with the toolbar.  But to avoid handling the navigate ourselves, they are actually not in the toolbar
.toolbarTabs {
  * {
    color: $clouds;
  }
}

.app-nav-drawer-header {
  @include center-contents;
}

.cell--centered-contents {
  @include center-contents;
}

.context-menu--floating {
  // Must be above the .justification-tree .verified icons
  z-index: 2;
  button {
    background-color: white;
  }
  &, &.md-menu-container {
    position: absolute;
  }
}

/* When the cards are vertically aligned, the spacing just distracts */
.md-grid--card-list {
  .md-cell {
    margin: 0;
  }
}

$small-chat-iframe-z-index: 999999999;
@media (max-width: $md-grid-desktop-breakpoint - 1) {
  // Two different ways to try and make sure the context menu is not obscured by the small chat launcher
  //#Smallchat iframe {
  //  right: auto !important;
  //  left: 0;
  //}
  //.context-menu {
  //  z-index: $small-chat-iframe-z-index + 1;
  //}

  .md-grid--card-list--tablet {
    .md-cell {
      margin: 0;
    }
  }
}

// Hide the small chat launcher when a no-scroll dialog is present on mobile
.md-no-scroll {
  #Smallchat {
    display: none;
  }
}

.md-inline-block.text-expand-toggle {
  vertical-align: text-top;
}

.clickable {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}