@import url('./reset.css');
@import url('~flexboxgrid/dist/flexboxgrid.css');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Orbitron|Roboto:300,400,500|Source+Sans+Pro');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

//$md-font-name: Lato;
@import '~react-md/src/scss/react-md';
@import './colors';
$md-primary-color: $primary-color;
$md-secondary-color: $secondary-color;
$md-text-field-error-color: $pomegranate;
// TODO figure these out to remove warnings during build
//$md-data-table-contextual-fallback-color: $md-blue-grey-900;
//$md-linear-progress-fallback-color: $md-red-800;
//$md-switch-ball-fallback-color: $md-indigo-900;
@include react-md-everything;

@import './flatui-colors';
@import './flexboxgrid';
@import './grid';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: 'Lato', sans-serif;
  //font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: darken($midnight-blue, 15%);
}

b {
  font-weight: 400;
}

#webpack-hot-middleware-clientOverlay * {
  color: $clouds;
}

.errorMessage {
  color: $md-text-field-error-color;
}

html {
  font-size: 12pt;
}

.hidden {
  display: none;
}

#appNavDrawer {
  width: min(400px, $md-drawer-desktop-width)

  // TODO make this more like the left-nav rules
  // The left nav drawer's rules are:
  // On mobile devices, the width of the drawer will be calc(100vw - 56px) and a max width of 320px.
  // On tablets and desktop screens, the width will be equal to the $md-drawer-tablet-width and $md-drawer-desktop-width but no more than 400px.

}

#page {
  margin-left: $gutter;
  margin-right: $gutter;
}

form {
  button[type="submit"] {
    // TODO make this the same as the grid padding/margin
    margin-top: 1rem;
  }
}