.chat-bubble {
  &, &.md-grid {
    margin-top: 1.0em;
  }
  .justification-tree:first-child > & {
    margin-top: 0;
  }
  border-radius: 0.4em;

  &.chat-bubble--positive {
    background-color: #ddd;
    margin-right: 60px;
    border: 1px solid #bbb;
  }
  &.chat-bubble--negative {
    background-color: rgba(255, 13, 21, 0.11);
    margin-left: 60px;
    border: 1px solid rgba(255, 5, 12, 0.25);
  }
}