.chat-bubble {
  &, &.md-grid {
    margin-top: 1.0em;
  }
  .justification-tree:first-child > & {
    margin-top: 0;
  }
  border-radius: 0.4em;

  &.chat-bubble--positive {
    margin-right: 60px;
    border: 1px solid #bbb;
  }
  &.chat-bubble--negative {
    margin-left: 60px;
    border: 1px solid rgb(255, 176, 164);
  }
}