@import "./colors";
@import "./tree";

.chat-bubble {
  background-color: #fff;

  &, &.md-grid {
    margin-top: 1.0em;
  }
  .justification-tree:first-child > & {
    margin-top: 0;
  }
  border-radius: 0.4em;

  &.chat-bubble--positive {
    margin-right: $tree-branch-offset;
    border: 1px solid $entity-border-color;
  }
  &.chat-bubble--negative {
    margin-left: $tree-branch-offset;
    border: 1px solid $entity-border-color--negative;
  }
}