@import 'colors';
@import './grid';

.entity-viewer {
  display: flex;
  align-items: center;

  .entity-viewer--entity {
    // take up all the space next to the context menu
    flex: 1 1;
    border-left: 1px solid darken($clouds, 5%);
    padding-left: $entity-spacing;
    // Don't be shorter than the font-icon
    min-height: 24px;
    display: flex;
    align-items: center;

    > * {
      width: 100%;
    }
  }

  .entity-viewer--header {
    margin-right: 16px;
  }
}
