@import "./flatui-colors";
@import "./colors";

#header {
  * {
    color: $light-text-color;
  }

  .mainSearchAutocomplete {
    margin-top: 10px;
    margin-left: 10px;
    padding-right: 20px;
  }
}

#main-search-container {
  flex-grow: 1;
}

#title {
  font-family: "Orbitron", sans-serif;
  font-weight: 400;

  // Set a width relative size normally
  font-size: 1.2vw;
  // but then below a certain screen width, don't shrink the text any further
  @media (max-width: 768px) {
    font-size: 0.6em;
  }
}
