@import "./flatui-colors";
@import "./colors";

@mixin placeholder {
  color: $asbestos;
}

#header {
  * {
    color: $clouds;
  }

  .md-autocomplete-list {
    * {
      color: $primary-text-color;
    }
  }

  .mainSearchAutocomplete {
    margin-left: 10px;
    padding-right: 20px;
  }
}

#mainSearch {
  color: $clouds;

  /* Chrome doesn't render these styles if the rule includes non-chrome selectors.
     Just for safety, separate them all
   */

  /* WebKit, Blink, Edge */
  &::-webkit-input-placeholder {
    @include placeholder;
  }
  /* Internet Explorer 10-11 */
  &:-ms-input-placeholder {
    @include placeholder;
  }
  /* Mozilla Firefox 4 to 18 */
  &:-moz-placeholder {
    @include placeholder;
  }
  /* Mozilla Firefox 19+ */
  &::-moz-placeholder {
    @include placeholder;
  }
  &::placeholder {
    @include placeholder;
  }
  // Is this rule necessary?
  &:-moz-placeholder, &::-moz-placeholder {
    opacity:  0.5;
  }
}

a.md-title--toolbar {
  text-decoration: none;
}

#title {
  font-family: 'Orbitron', sans-serif;
}

.toggleNavDrawerVisibility {
  margin-right: 1em;
}