@import "~react-md/src/scss/grids";

.justification-basis-compound-atom-editor-fields {
  display: flex;

  @media (max-width: $md-grid-desktop-breakpoint) {
    & {
      flex-direction: column;
    }
  }
}

@mixin center-children-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.justification-basis-compound-atom-editor-fields--atom-type-controls {
  @include center-children-vertically;

  h3 {
    // Match up with the baseline of the select's labels
    margin-bottom: 5px;

    @media (max-width: $md-grid-desktop-breakpoint) {
      & {
        margin-right: 25px;
      }
    }
  }

  @media (max-width: $md-grid-desktop-breakpoint) {
    & {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

.justification-basis-compound-atom-editor-fields--entity-controls {
  @include center-children-vertically;

  padding-left: 35px;
  padding-right: 15px;
  margin: auto;
  width: 100%;

  @media (max-width: $md-grid-desktop-breakpoint) {
    & {
      padding-left: 0;
    }
  }
}

.justification-basis-compound-atom-editor-fields--add-remove-atom-controls {
  min-width: 100px;
  @include center-children-vertically;
}
