@import "~react-md/src/scss/react-md";
@import "./colors";
@import "./grid";
@import "./util";

$slide-size: $md-btn-icon-size;

.chat-bubble--negative {
  & > .counter-justifications {
    margin-right: $polarity-offset;
  }
}
.chat-bubble--positive {
  & > .counter-justifications {
    margin-left: $polarity-offset;
  }
}

.counter-justifications {
  width: 100%;
}

.justification-tree {
  .actions {
    // Hide the actions as they slide off-screen; else they create horizontal scroll bars
    // It would be nicer to do this as far out as possible, so as to avoid any clipping of the icons
    // but this works for now.  Adding this to the .justification-card is a problem because then the dropdown
    // menu is cipped.
    overflow: hidden;

    display: flex;

    // Create a local stacking context
    z-index: 0;

    align-items: center;

    & > * {
      transition: opacity 0.2s, right 0.4s, left 0.4s;
      position: relative;
      right: 0;

      &.verified,
      &.disverified {
        color: $midnight-blue;
        // Put the selected buttons (which will remain visible while others fade) above them
        z-index: 1;
      }
      &.disverified.inactive {
        right: $slide-size;
      }

      &.hiding {
        right: $slide-size;
        opacity: 0;
      }
    }
  }

  .otherSelected .md-icon {
    color: $concrete;
  }

  .md-list--menu {
    // Menus will always be ltr
    direction: ltr;
  }

  .justification-status-text {
    text-align: right;
    display: inline-block;
    flex: 1 1;
  }

  &.positivey {
    & > * > .actions {
      // Override App.scss .md-dialog-footer--card
      justify-content: flex-start;

      .md-icon {
        // When positivey, the icons make more sense flipped
        @include flip-icon-horizontal;
      }
    }
  }

  &.negativey {
    .justification-status-text {
      text-align: left;
    }

    & > * > .actions {
      justify-content: flex-start;
      direction: rtl;

      .md-icon {
        transform: none;
      }

      & > * {
        left: 0;
        right: auto;

        &.disverified.inactive {
          left: $slide-size;
          right: auto;
        }

        &.hiding {
          left: $slide-size;
          right: auto;
          opacity: 0;
        }
      }
    }
  }
}
