@import '~react-md/src/scss/react-md';
@import './flatui-colors';
@import './colors';
@import './grid';
@import './components';

$gradient-start-opacity: .6;
$gradient-point: 25%;
$slide-size: $md-btn-icon-size;

// All must be less than $md-toolbar-z-index (default 15) or else they will float above the toolbar upon scrolling
// ($md-menu-z-index is 10)
$gradient-z-index: 5;
$over-gradient-z-index: 10;

.context-menu--proposition {
  z-index: $over-gradient-z-index;
  .md-list--menu {
    z-index: $over-gradient-z-index + 1;
  }
}

ul.proposition-trail {
  padding-left: 35px;
  li {
    @include material-icon-list-item("replay");
    margin: 5px;
  }
}

.context-menu {
  float: right;
}
