@import "colors";

.compound-atom {
  padding: 5px;
  min-height: 60px;

  // Put a divider between the atoms.
  border-bottom: 1px solid $entity-border-color;
  &:last-child {
    border-bottom: none;
  }
}
.compound-viewer {
  // quick and dirty way not to overlap chat bubble context menu
  //margin-right: 50px;

  width: 100%;
}
