.chat-bubble {
  .justification-tree > & {
    margin-left: 0;
    margin-right: 0;
  }
}

.justification-basis-viewer-row {
  display: flex;
  align-items: center;
  width: 100%;
  .justification-basis-viewer {
    flex-grow: 1;
  }
}

.justification-context-menu {
  align-self: flex-start;
}
