@import "./flatui-colors";

li.proposition-atom {
  // Position so that chat bubble offsets below position relative to this.
  position: relative;

  display: flex;
  align-items: center;
}

.proposition-atom {
  .entity-viewer {
    width: 100%;
  }
  &.highlighted,
  // override `border: none` from PropositionCompoundViewer
  &.highlighted:last-child {
    border: 2px solid $peter-river;
  }
}
