@import "colors";

.compound-atom {
  // Put a divider between the atoms.
  border-bottom: 1px solid $entity-border-color;
  &:last-child {
    border-bottom: none;
  }
}
.compound-viewer {
  width: 100%;
}
