@import "./flatui-colors";

li.proposition-atom {
  // Position so that chat bubble offsets below position relative to this.
  position: relative;

  display: flex;
  align-items: center;
}

.proposition-atom {
  .entity-viewer {
    width: 100%;
  }
  &.highlighted, &.highlighted:last-child {
    border: 2px solid $peter-river;
  }
}

$context-menu-horizontal-offset: -80px;
$context-menu-vertical-offset: 40px;

.context-menu--proposition-atom {
  .proposition-justifications-justification-trees--positive & {
    right: $context-menu-horizontal-offset;
  }
  .proposition-justifications-justification-trees--negative & {
    left: $context-menu-horizontal-offset;
  }
  .proposition-justifications-justification-trees--combined
    .justification-tree.positivey
    & {
    right: $context-menu-horizontal-offset;
  }
  .proposition-justifications-justification-trees--combined
    .justification-tree.negativey
    & {
    left: $context-menu-horizontal-offset;
  }

  &-enter {
    opacity: 0;

    .proposition-justifications-justification-trees--positive & {
      right: 0;
    }
    .proposition-justifications-justification-trees--negative & {
      left: 0;
    }
    .proposition-justifications-justification-trees--combined
      .justification-tree.positivey
      & {
      right: 0;
    }
    .proposition-justifications-justification-trees--combined
      .justification-tree.negativey
      & {
      left: 0;
    }
  }
  &-enter#{&}-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in, right 250ms, left 250ms, top 250ms;

    .proposition-justifications-justification-trees--positive & {
      right: $context-menu-horizontal-offset;
    }
    .proposition-justifications-justification-trees--negative & {
      left: $context-menu-horizontal-offset;
    }
    .proposition-justifications-justification-trees--combined
      .justification-tree.positivey
      & {
      right: $context-menu-horizontal-offset;
    }
    .proposition-justifications-justification-trees--combined
      .justification-tree.negativey
      & {
      left: $context-menu-horizontal-offset;
    }
  }
  &-leave {
    opacity: 1;
  }
  &-leave#{&}-leave-active {
    opacity: 0;
    transition: opacity 500ms ease-in, right 500ms, left 500ms, top 500ms;
    .proposition-justifications-justification-trees--positive & {
      right: 0;
    }
    .proposition-justifications-justification-trees--negative & {
      left: 0;
    }
    .proposition-justifications-justification-trees--combined
      .justification-tree.positivey
      & {
      right: 0;
    }
    .proposition-justifications-justification-trees--combined
      .justification-tree.negativey
      & {
      left: 0;
    }
  }
}
