@import "~react-md/src/scss/grids";

.source-excerpt-editor-fields {
  display: flex;

  @media (max-width: $md-grid-desktop-breakpoint) {
    & {
      flex-direction: column;
    }
  }
}

@mixin center-children-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.source-excerpt-editor-fields--type-controls {
  @include center-children-vertically;
}

.source-excerpt-editor-fields--entity-controls {
  padding-left: 35px;
  padding-right: 15px;
  margin: auto;
  width: 100%;

  @media (max-width: $md-grid-desktop-breakpoint) {
    & {
      padding-left: 0;
    }
  }
}