@import './mixins';

.statementCompoundAtomViewer {
  @include clearFix;
}

.statementCompoundAtomViewer {
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.statementAtom:last-child .statementCompoundAtomViewer {
  margin-bottom: 0;
}