@import './colors';

.md-chip.has-vote .md-avatar {
  color: $clouds;
  background-color: $agree-color;
}
.md-chip.has-anti-vote .remove-chip-icon.md-icon {
  color: $disagree-color;
  //background-color: $disagree-color;
}
