@import './components';

.writing-quote-viewer {
  @include quote;

  .writing-title {
    font-weight: 400;
  }

  .writing-quote-urls {
    margin-top: 0.8em;
  }

  li.url {
    margin: 0.2em 1em;

    .md-icon {
      font-size: 12px;
      margin-left: 8px;
    }
  }
}