@import './components';
@import './colors';

.quote-text-expand-ellipsis {
  font-weight: bold;
}

.quote {
  //border-left: 2px solid $primary-color;
  margin: 0.3em 0 1em;
  padding: 0.5em 0;
}

.quote-text {
  margin-left: 20px;

  p:first-child:before,
  p:last-child:after {
    quotes: "\201C" "\201D" "\2018" "\2019";
    color: $asbestos;
    font-size: 200%;
    position: absolute;
  }

  p:first-child:before {
    content: open-quote;
    margin-left: -15px;
  }
  p:last-child:after {
    content: close-quote;
    margin-left: 10px;
  }
}

.writ-quote-viewer {

  .writ-title {
    font-weight: 400;
  }

  ul.writ-quote-urls {

    margin-top: 0.8em;

    > li.url {
      margin: 0.2em $list-item-left-padding;

      @include material-icon-list-item("link");

      > a {
        .md-icon {
          vertical-align: middle;
          font-size: 12px;
          margin-left: 2px;
        }
      }
    }
  }
}