@import "../colors";

.url-anchor-icon {
  padding: 10px;
}

.url-status {
  font-style: italic;
  font-size: 0.9em;
  color: $deemphasized-text-color;
  .url-status-url {
    color: $light-text-color;
  }
}
