/.idea/
/*.iml
**/yarn-error.log
**/node_modules/
**/.expo/
**/coverage/

# See https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored (we are not using Zero-Installs...)
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# For now just ignore vscode, although at some point we may want to figure
# out what should be shared.
/.vscode/

# macOS file system metadata. These were showing up in act's Github Workflow
# runner.
.DS_Store
