@import "@/colors";

.chips-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  > * {
    margin-right: 5px;
    margin-bottom: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}
