@import "@/colors";

#about-page {
  ol,
  ul {
    margin-left: 25px;
    margin-bottom: 10px;
  }
  ol {
    list-style: decimal;
  }
  ul {
    list-style: disc;
  }

  a {
    color: $secondary-color;
  }
}
