.statement {
  background-color: #AAF;
}
.justifications {
  overflow: auto;
}
.justification {
  width: 50%;
  transition: width 1s cubic-bezier(0.77, 0, 0.175, 1);
}
.justification.positive {
  float: left;
  clear: left;
  background-color: #AFA;
}
.justification.negative {
  float: right;
  clear: right;
  background-color: #FAA;
}

@media only screen and (max-width: 640px) {
  .justification.positive, .justification.negative {
    float: none;
    width: 100%;
  }
}